# PIZZA OpenAI Examples

Various examples working with the `OpenAIAttributor`. 

Before using this notebook, make sure to set your `OPENAI_API_KEY` evironment variable in a `.env` file.

## Setup

Setting up the attributor and consistent input arguments

In [7]:
import warnings

from attribution.api_attribution import OpenAIAttributor
from attribution.experiment_logger import ExperimentLogger
from attribution.token_perturbation import (
    FixedPerturbationStrategy,
    NthNearestPerturbationStrategy,
    calculate_chunk_size,
    get_units_from_prompt,
)

warnings.simplefilter(action='ignore', category=FutureWarning)

# Re-import modified modules without restarting the server
%load_ext autoreload
%autoreload 2

# Load environment variables (OpenAI API key)
%load_ext dotenv
%dotenv

attributor = OpenAIAttributor(request_chunksize=10)
perturbation_strategy = FixedPerturbationStrategy("")

kwargs = {
    "attribution_strategies": ["cosine"],  
    "perturb_word_wise": True,
    "ignore_output_token_location": True,
}

## Short prompts
Comparing full perturbation and hierarchical perturbation methods

In [8]:
mixed_prompts = [
    "What is the capital of the country that was formerly known as Siam? Answer in 1 word.",
    "What is the chemical element with the symbol 'Au'? Answer in 1 word.",
    "Which character in 'Pride and Prejudice' said 'It is a truth universally acknowledged'? Answer in 1 word.",
    "Who holds the record for the most goals in a calendar year in football (soccer)? Answer in 1 word.",
    "In Greek mythology, who is the goddess of wisdom and warfare? Answer in 1 word.",
    "Who directed the film 'Inception'? Answer in 1 word.",
    "Who is known as the 'King of Pop'? Answer in 1 word.",
    "Who was the first female Prime Minister of the United Kingdom? Answer in 1 word.",
    "Who is the co-founder of Microsoft? Answer in 1 word.",
]

for input_str in mixed_prompts:
    response = await attributor.get_chat_completion(input_str)

    logger = ExperimentLogger()

    await attributor.compute_attributions(
        input_str,
        perturbation_strategy=perturbation_strategy,
        logger=logger,
        **kwargs
    )
    
    saliency = await attributor.hierarchical_perturbation(
        input_str,
        init_chunk_size=4,
        perturbation_strategy=perturbation_strategy,
        logger=logger,
        verbose=True,
        **kwargs
    )

    logger.print_sentence_attribution()
    display(logger.df_experiments)

Sending 10 concurrent requests at a time: 100%|██████████| 2/2 [00:02<00:00,  1.02s/it]

Stage 0: making 5 perturbations
Masked out tokens/words:
['What is']
['the capital of the']
['country that was formerly']
['known as Siam? Answer']
['in 1 word.']
Stage 1: making 6 perturbations
Masked out tokens/words:
['1 word.']
['in']
['Siam? Answer']
['known as']
['of the']
['the capital']
Stage 2: making 6 perturbations
Masked out tokens/words:
['Answer']
['Siam?']
['the']
['of']
['capital']
['the']

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,What is the capital of the country that was fo...,Bangkok,fixed,True,2.189686,18
1,2,What is the capital of the country that was fo...,Bangkok,fixed,True,2.839399,18

Sending 10 concurrent requests at a time: 100%|██████████| 2/2 [00:01<00:00,  1.90it/s]

Stage 0: making 4 perturbations
Masked out tokens/words:
['What is']
['the chemical element with']
["the symbol 'Au'? Answer"]
['in 1 word.']
Stage 1: making 2 perturbations
Masked out tokens/words:
["'Au'? Answer"]
['the symbol']
Stage 2: making 2 perturbations
Masked out tokens/words:
['Answer']
["'Au'?"]

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,What is the chemical element with the symbol '...,Gold,fixed,True,1.146509,14
1,2,What is the chemical element with the symbol '...,Gold,fixed,True,1.676382,9

Sending 10 concurrent requests at a time: 100%|██████████| 2/2 [00:01<00:00,  1.24it/s]

Stage 0: making 5 perturbations
Masked out tokens/words:
['Which character']
["in 'Pride and Prejudice'"]
["said 'It is a"]
["truth universally acknowledged'? Answer"]
['in 1 word.']
Stage 1: making 6 perturbations
Masked out tokens/words:
['1 word.']
['in']
["acknowledged'? Answer"]
['truth universally']
['character']
['Which']
Stage 2: making 2 perturbations
Masked out tokens/words:
['word.']
['1']

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,Which character in 'Pride and Prejudice' said ...,Elizabeth,fixed,True,1.75754,18
1,2,Which character in 'Pride and Prejudice' said ...,Elizabeth,fixed,True,3.493373,14

Sending 10 concurrent requests at a time: 100%|██████████| 2/2 [00:01<00:00,  1.19it/s]

Stage 0: making 6 perturbations
Masked out tokens/words:
['Who holds']
['the record for the']
['most goals in a']
['calendar year in football']
['(soccer)? Answer in 1']
['word.']
Stage 1: making 4 perturbations
Masked out tokens/words:
['in 1']
['(soccer)? Answer']
['in football']
['calendar year']
Stage 2: making 4 perturbations
Masked out tokens/words:
['1']
['in']
['year']
['calendar']

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,Who holds the record for the most goals in a c...,Messi,fixed,True,1.862642,20
1,2,Who holds the record for the most goals in a c...,Messi,fixed,True,3.459962,15

Sending 10 concurrent requests at a time: 100%|██████████| 2/2 [00:01<00:00,  1.79it/s]

Stage 0: making 5 perturbations
Masked out tokens/words:
['In Greek']
['mythology, who is the']
['goddess of wisdom and']
['warfare? Answer in 1']
['word.']
Stage 1: making 4 perturbations
Masked out tokens/words:
['in 1']
['warfare? Answer']
['wisdom and']
['goddess of']
Stage 2: making 8 perturbations
Masked out tokens/words:
['1']
['in']
['Answer']
['warfare?']
['and']
['wisdom']
['of']
['goddess']

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,"In Greek mythology, who is the goddess of wisd...",Athena,fixed,True,1.322402,16
1,2,"In Greek mythology, who is the goddess of wisd...",Athena,fixed,True,2.739509,18

Stage 0: making 3 perturbations
Masked out tokens/words:
['Who directed']
["the film 'Inception'? Answer"]
['in 1 word.']
Stage 1: making 6 perturbations
Masked out tokens/words:
['1 word.']
['in']
["'Inception'? Answer"]
['the film']
['directed']
['Who']
Stage 2: making 4 perturbations
Masked out tokens/words:
['word.']
['1']
['Answer']
["'Inception'?"]

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,Who directed the film 'Inception'? Answer in 1...,Nolan,fixed,True,0.752259,10
1,2,Who directed the film 'Inception'? Answer in 1...,Nolan,fixed,True,2.801297,14

Sending 10 concurrent requests at a time: 100%|██████████| 2/2 [00:00<00:00,  2.34it/s]

Stage 0: making 4 perturbations
Masked out tokens/words:
['Who is']
["known as the 'King"]
["of Pop'? Answer in"]
['1 word.']
Stage 1: making 4 perturbations
Masked out tokens/words:
['Answer in']
["of Pop'?"]
["the 'King"]
['known as']
Stage 2: making 4 perturbations
Masked out tokens/words:
["Pop'?"]
['of']
["'King"]
['the']

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,Who is known as the 'King of Pop'? Answer in 1...,Michael,fixed,True,0.967804,13
1,2,Who is known as the 'King of Pop'? Answer in 1...,Michael,fixed,True,3.491596,13

Sending 10 concurrent requests at a time: 100%|██████████| 2/2 [00:01<00:00,  1.99it/s]

Stage 0: making 5 perturbations
Masked out tokens/words:
['Who was']
['the first female Prime']
['Minister of the United']
['Kingdom? Answer in 1']
['word.']
Stage 1: making 6 perturbations
Masked out tokens/words:
['the United']
['Minister of']
['female Prime']
['the first']
['was']
['Who']
Stage 2: making 6 perturbations
Masked out tokens/words:
['United']
['the']
['Prime']
['female']
['first']
['the']

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,Who was the first female Prime Minister of the...,Margaret,fixed,True,1.135532,16
1,2,Who was the first female Prime Minister of the...,Margaret,fixed,True,2.7139,18

Stage 0: making 3 perturbations
Masked out tokens/words:
['Who is']
['the co-founder of Microsoft?']
['Answer in 1 word.']
Stage 1: making 2 perturbations
Masked out tokens/words:
['of Microsoft?']
['the co-founder']
Stage 2: making 2 perturbations
Masked out tokens/words:
['Microsoft?']
['of']

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,Who is the co-founder of Microsoft? Answer in ...,Bill,fixed,True,0.768504,11
1,2,Who is the co-founder of Microsoft? Answer in ...,Bill,fixed,True,1.823514,8

## Longer prompts
Using hierarchical perturbation only

In [9]:
longer_prompts = [
    "In J.K. Rowling's Harry Potter series, the spell used to conjure a Patronus is considered highly advanced and can only be performed by skilled witches and wizards. The form that a Patronus takes can vary widely and is often influenced by the caster's personality and experiences. What form does Snape's Patronus take? Answer in 1 word.",
    "In the field of astronomy, there is a phenomenon where the light from a star is bent and magnified by the gravitational field of another object, such as a galaxy or black hole, that lies between the star and the observer. This effect was first predicted by Einstein's theory of general relativity. What is this phenomenon called? Answer in 1 word.",
    "Located in South America, there is a vast river that flows through Brazil, Peru, and several other countries. It is the largest river by discharge volume of water in the world and is often associated with the rainforest of the same name. What is the name of this river? Answer in 1 word.",
    "In Norse mythology, there is a hammer wielded by the god Thor, which is renowned for its immense power and is said to be capable of leveling mountains. This hammer is also a symbol of protection and blessing. What is the name of Thor's hammer? Answer in 1 word.",
    "In the movie 'The Matrix,' the protagonist is a computer hacker who learns about the true nature of his reality and his role in the war against its controllers. He is given a choice between two pills: a red pill that reveals the truth, and a blue pill that returns him to his normal life. What is the name of the protagonist? Answer in 1 word.",
    "There is a famous painting by Vincent van Gogh that depicts a night sky filled with swirling clouds, stars, and a bright crescent moon. This painting is one of his most well-known works and was created while he was in a mental asylum in Saint-Rémy-de-Provence. What is the title of this painting? Answer in 1 word.",
    "In classical music, there is a composer who is renowned for his symphonies, concertos, and sonatas. Born in Salzburg in 1756, he began composing music at a very young age and created over 600 works during his lifetime. What is the last name of this composer? Answer in 1 word.",
    "In the realm of computer programming, there is a widely used language that was developed by Guido van Rossum and first released in 1991. It emphasizes code readability and its syntax allows programmers to express concepts in fewer lines of code. What is the name of this programming language? Answer in 1 word.",
    "In the study of genetics, there is a molecule that carries the genetic instructions used in the growth, development, functioning, and reproduction of all known living organisms and many viruses. This molecule is structured as a double helix and was first described by Watson and Crick in 1953. What is the abbreviation for this molecule? Answer in 1 word.",
]

for input_str in longer_prompts:

    logger = ExperimentLogger()

    await attributor.hierarchical_perturbation(
        input_str,
        init_chunk_size=8,
        perturbation_strategy=perturbation_strategy,
        logger=logger,
        **kwargs
    )

    logger.print_sentence_attribution()
    display(logger.df_experiments)
    logger.print_attribution_matrix(exp_id=1, show_debug_cols=True)

Stage 0: making 8 perturbations
Stage 1: making 4 perturbations
Stage 2: making 4 perturbations
Stage 3: making 2 perturbations

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,"In J.K. Rowling's Harry Potter series, the spe...",Doe,fixed,True,4.912997,19

Attribution matrix for experiment 1
Attribution Strategy: cosine
Perturbation strategy: fixed:
Input Tokens (Rows) vs. Output Tokens (Columns)

Stage 0: making 9 perturbations

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,"In the field of astronomy, there is a phenomen...",Gravitational lensing,fixed,True,4.507305,10

Attribution matrix for experiment 1
Attribution Strategy: cosine
Perturbation strategy: fixed:
Input Tokens (Rows) vs. Output Tokens (Columns)

Stage 0: making 8 perturbations

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,"Located in South America, there is a vast rive...",Amazon,fixed,True,1.013968,9

Attribution matrix for experiment 1
Attribution Strategy: cosine
Perturbation strategy: fixed:
Input Tokens (Rows) vs. Output Tokens (Columns)

Stage 0: making 7 perturbations
Stage 1: making 2 perturbations
Stage 2: making 2 perturbations
Stage 3: making 2 perturbations

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,"In Norse mythology, there is a hammer wielded ...",Mjölnir,fixed,True,3.664928,14

Attribution matrix for experiment 1
Attribution Strategy: cosine
Perturbation strategy: fixed:
Input Tokens (Rows) vs. Output Tokens (Columns)

Stage 0: making 9 perturbations
Stage 1: making 2 perturbations
Stage 2: making 2 perturbations
Stage 3: making 2 perturbations

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,"In the movie 'The Matrix,' the protagonist is ...",Neo,fixed,True,4.700446,16

Attribution matrix for experiment 1
Attribution Strategy: cosine
Perturbation strategy: fixed:
Input Tokens (Rows) vs. Output Tokens (Columns)

Stage 0: making 8 perturbations
Stage 1: making 4 perturbations
Stage 2: making 2 perturbations

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,There is a famous painting by Vincent van Gogh...,Starry Night,fixed,True,3.145976,15

Attribution matrix for experiment 1
Attribution Strategy: cosine
Perturbation strategy: fixed:
Input Tokens (Rows) vs. Output Tokens (Columns)

Stage 0: making 7 perturbations
Stage 1: making 2 perturbations
Stage 2: making 2 perturbations
Stage 3: making 2 perturbations

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,"In classical music, there is a composer who is...",Mozart,fixed,True,3.339967,14

Attribution matrix for experiment 1
Attribution Strategy: cosine
Perturbation strategy: fixed:
Input Tokens (Rows) vs. Output Tokens (Columns)

Stage 0: making 8 perturbations

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,"In the realm of computer programming, there is...",Python,fixed,True,1.08182,9

Attribution matrix for experiment 1
Attribution Strategy: cosine
Perturbation strategy: fixed:
Input Tokens (Rows) vs. Output Tokens (Columns)

Stage 0: making 8 perturbations
Stage 1: making 2 perturbations
Stage 2: making 2 perturbations
Stage 3: making 4 perturbations

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,"In the study of genetics, there is a molecule ...",DNA,fixed,True,4.476589,17

Attribution matrix for experiment 1
Attribution Strategy: cosine
Perturbation strategy: fixed:
Input Tokens (Rows) vs. Output Tokens (Columns)

## Calculating chunksize
Instead of specifying an initial chunksize directly, one can be compute based on a fraction or number of desired windows

In [10]:
mixed_prompts = [
    "Who painted the 'Mona Lisa'? Answer in 1 word.",
    "During the American Civil War, there was a significant battle fought from July 1 to July 3, 1863, which is often considered the turning point of the war. This battle took place in Pennsylvania and ended with a decisive victory for the Union forces. What is the name of this battle? Answer in 1 word.",
]

for input_str in mixed_prompts:
    response = await attributor.get_chat_completion(input_str)

    logger = ExperimentLogger()

    units, _, _ = get_units_from_prompt(input_str, attributor.tokenizer, perturb_word_wise=True)
    chunksize = calculate_chunk_size(len(units), fraction=0.25)  
    print(f"Using chunksize: {chunksize}")

    saliency = await attributor.hierarchical_perturbation(
        input_str,
        init_chunk_size=chunksize,
        perturbation_strategy=perturbation_strategy,
        logger=logger,
        **kwargs
    )

    logger.print_sentence_attribution()
    display(logger.df_experiments)
    logger.print_attribution_matrix(exp_id=1)

Using chunksize: 2
Stage 0: making 5 perturbations
Stage 1: making 2 perturbations

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,Who painted the 'Mona Lisa'? Answer in 1 word.,Da Vinci,fixed,True,1.494245,8

Attribution matrix for experiment 1
Attribution Strategy: cosine
Perturbation strategy: fixed:
Input Tokens (Rows) vs. Output Tokens (Columns)

Using chunksize: 13
Stage 0: making 5 perturbations
Stage 1: making 2 perturbations
Stage 2: making 2 perturbations
Stage 3: making 2 perturbations
Stage 4: making 2 perturbations

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,"During the American Civil War, there was a sig...",Gettysburg,fixed,True,4.68226,14

Attribution matrix for experiment 1
Attribution Strategy: cosine
Perturbation strategy: fixed:
Input Tokens (Rows) vs. Output Tokens (Columns)

## Answer only in the question prompts
Using different perturbation strategies

In [11]:
perturbation_strategies = [
    FixedPerturbationStrategy(),
    NthNearestPerturbationStrategy(n=0),
    NthNearestPerturbationStrategy(n=-1),
]

In [12]:
self_fulfilling_prompts = [
    "The clock shows 9:47 PM. How many minutes to 10PM?",
    "Maria is 37 years old today. How many years till she's 50?",
    "John has 83 books on his shelf. If he buys 17 more books, how many books will he have in total?",
    "The building is 132 meters tall. How many centimeters tall is the building? No explanation",
    "The package weighs 8.6 kilograms. How many grams does the package weigh?",
    "Jack has 12 teaspoons of sugar. How many tablespoons of sugar does he have?",
    "Alex saved $363 from his birthday gifts. If he spends $45 on a new game, how much money will he have left? No explanation.",
    "The building is 132 meters tall. How many centimeters tall is the building? No explanation.",
    "The thermometer reads 23 degrees Celsius. What is the temperature in Fahrenheit? No explanation.",
    "There are 12 eggs in a dozen. If you use 5 eggs, how many eggs are left?",
]

# Initialize the logger
logger = ExperimentLogger()

# Perform the experiment
for input_str in self_fulfilling_prompts:
    print(f"Running prompt: '{input_str}'")
    
    for perturbation_strategy in perturbation_strategies:
        print(f"Using perturbation strategy: {perturbation_strategy}")
        await attributor.hierarchical_perturbation(
            input_str,
            init_chunk_size=4,
            perturbation_strategy=perturbation_strategy,
            logger=logger,
            **kwargs
        )

# Display the results
display(logger.df_experiments)
logger.print_sentence_attribution()

Running prompt: 'The clock shows 9:47 PM. How many minutes to 10PM?'
Using perturbation strategy: fixed
Stage 0: making 3 perturbations
Stage 1: making 2 perturbations
Using perturbation strategy: nth_nearest (n=0)
Stage 0: making 3 perturbations
Stage 1: making 2 perturbations
Using perturbation strategy: nth_nearest (n=-1)
Stage 0: making 3 perturbations
Stage 1: making 2 perturbations
Stage 2: making 4 perturbations
Running prompt: 'Maria is 37 years old today. How many years till she's 50?'
Using perturbation strategy: fixed
Stage 0: making 4 perturbations
Stage 1: making 2 perturbations
Using perturbation strategy: nth_nearest (n=0)
Stage 0: making 4 perturbations
Stage 1: making 4 perturbations
Stage 2: making 2 perturbations
Using perturbation strategy: nth_nearest (n=-1)
Stage 0: making 4 perturbations
Stage 1: making 4 perturbations
Running prompt: 'John has 83 books on his shelf. If he buys 17 more books, how many books will he have in total?'
Using perturbation strategy: fixed
Stage 0: making 6 perturbations
Stage 1: making 6 perturbations
Stage 2: making 6 perturbations
Using perturbation strategy: nth_nearest (n=0)
Stage 0: making 6 perturbations
Stage 1: making 10 perturbations
Stage 2: making 10 perturbations
Using perturbation strategy: nth_nearest (n=-1)
Stage 0: making 6 perturbations
Stage 1: making 4 perturbations
Stage 2: making 4 perturbations
Running prompt: 'The building is 132 meters tall. How many centimeters tall is the building? No explanation'
Using perturbation strategy: fixed
Stage 0: making 5 perturbations
Stage 1: making 4 perturbations
Stage 2: making 6 perturbations
Using perturbation strategy: nth_nearest (n=0)
Stage 0: making 5 perturbations
Using perturbation strategy: nth_nearest (n=-1)
Stage 0: making 5 perturbations
Stage 1: making 4 perturbations
Stage 2: making 6 perturbations
Running prompt: 'The package weighs 8.6 kilograms. How many grams does the package weigh?'
Using perturbation strategy: fixed
Stage 0: making 4 perturbations
Stage 1: making 4 perturbations
Stage 2: making 6 perturbations
Using perturbation strategy: nth_nearest (n=0)
Stage 0: making 4 perturbations
Stage 1: making 4 perturbations
Stage 2: making 4 perturbations
Using perturbation strategy: nth_nearest (n=-1)
Stage 0: making 4 perturbations
Stage 1: making 6 perturbations
Stage 2: making 6 perturbations
Running prompt: 'Jack has 12 teaspoons of sugar. How many tablespoons of sugar does he have?'
Using perturbation strategy: fixed
Stage 0: making 4 perturbations
Stage 1: making 4 perturbations
Stage 2: making 6 perturbations
Using perturbation strategy: nth_nearest (n=0)
Stage 0: making 4 perturbations
Stage 1: making 2 perturbations
Stage 2: making 4 perturbations
Using perturbation strategy: nth_nearest (n=-1)
Stage 0: making 4 perturbations
Stage 1: making 4 perturbations
Stage 2: making 6 perturbations
Running prompt: 'Alex saved $363 from his birthday gifts. If he spends $45 on a new game, how much money will he have left? No explanation.'
Using perturbation strategy: fixed
Stage 0: making 7 perturbations
Stage 1: making 6 perturbations
Stage 2: making 2 perturbations
Using perturbation strategy: nth_nearest (n=0)
Stage 0: making 7 perturbations
Using perturbation strategy: nth_nearest (n=-1)
Stage 0: making 7 perturbations
Stage 1: making 6 perturbations
Stage 2: making 4 perturbations
Running prompt: 'The building is 132 meters tall. How many centimeters tall is the building? No explanation.'
Using perturbation strategy: fixed
Stage 0: making 5 perturbations
Stage 1: making 4 perturbations
Stage 2: making 4 perturbations
Using perturbation strategy: nth_nearest (n=0)
Stage 0: making 5 perturbations
Using perturbation strategy: nth_nearest (n=-1)
Stage 0: making 5 perturbations
Stage 1: making 4 perturbations
Stage 2: making 6 perturbations
Running prompt: 'The thermometer reads 23 degrees Celsius. What is the temperature in Fahrenheit? No explanation.'
Using perturbation strategy: fixed
Stage 0: making 4 perturbations
Stage 1: making 4 perturbations
Stage 2: making 6 perturbations
Using perturbation strategy: nth_nearest (n=0)
Stage 0: making 4 perturbations
Using perturbation strategy: nth_nearest (n=-1)
Stage 0: making 4 perturbations
Stage 1: making 4 perturbations
Stage 2: making 6 perturbations
Running prompt: 'There are 12 eggs in a dozen. If you use 5 eggs, how many eggs are left?'
Using perturbation strategy: fixed
Stage 0: making 5 perturbations
Stage 1: making 4 perturbations
Stage 2: making 8 perturbations
Using perturbation strategy: nth_nearest (n=0)
Stage 0: making 5 perturbations
Using perturbation strategy: nth_nearest (n=-1)
Stage 0: making 5 perturbations
Stage 1: making 2 perturbations
Stage 2: making 2 perturbations

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,The clock shows 9:47 PM. How many minutes to 1...,There are 13 minutes left until 10:00 PM.,fixed,True,2.580821,6
1,2,The clock shows 9:47 PM. How many minutes to 1...,13 minutes.,nth_nearest (n=0),True,4.651964,6
2,3,The clock shows 9:47 PM. How many minutes to 1...,There are 13 minutes left until 10:00 PM.,nth_nearest (n=-1),True,7.449116,10
3,4,Maria is 37 years old today. How many years ti...,Maria is 13 years away from turning 50.,fixed,True,2.94316,7
4,5,Maria is 37 years old today. How many years ti...,Maria is 13 years away from turning 50.,nth_nearest (n=0),True,7.732944,11
5,6,Maria is 37 years old today. How many years ti...,Maria is 13 years away from turning 50.,nth_nearest (n=-1),True,5.861634,9
6,7,John has 83 books on his shelf. If he buys 17 ...,John will have 100 books in total. \n\n83 + 17...,fixed,True,5.529009,19
7,8,John has 83 books on his shelf. If he buys 17 ...,John will have 100 books in total. \n\n83 + 17...,nth_nearest (n=0),True,13.495154,27
8,9,John has 83 books on his shelf. If he buys 17 ...,John will have 83 + 17 = 100 books in total.,nth_nearest (n=-1),True,9.49277,15
9,10,The building is 132 meters tall. How many cent...,"13,200 centimeters",fixed,True,3.717944,16
10,11,The building is 132 meters tall. How many cent...,"13,200 centimeters",nth_nearest (n=0),True,3.228435,6
11,12,The building is 132 meters tall. How many cent...,"13,200 centimeters",nth_nearest (n=-1),True,9.82239,16
12,13,The package weighs 8.6 kilograms. How many gra...,"To convert kilograms to grams, you need to mul...",fixed,True,8.318394,15
13,14,The package weighs 8.6 kilograms. How many gra...,"To convert kilograms to grams, you need to mul...",nth_nearest (n=0),True,13.736692,13
14,15,The package weighs 8.6 kilograms. How many gra...,"To convert kilograms to grams, you need to mul...",nth_nearest (n=-1),True,11.92675,17
15,16,Jack has 12 teaspoons of sugar. How many table...,"There are 3 teaspoons in 1 tablespoon. \n\nSo,...",fixed,True,6.283374,15
16,17,Jack has 12 teaspoons of sugar. How many table...,"There are 3 teaspoons in 1 tablespoon. \n\nSo,...",nth_nearest (n=0),True,8.8623,11
17,18,Jack has 12 teaspoons of sugar. How many table...,"There are 3 teaspoons in 1 tablespoon. \n\nSo,...",nth_nearest (n=-1),True,10.879107,15
18,19,Alex saved $363 from his birthday gifts. If he...,$318,fixed,True,3.524463,16
19,20,Alex saved $363 from his birthday gifts. If he...,$318,nth_nearest (n=0),True,5.223021,8
20,21,Alex saved $363 from his birthday gifts. If he...,$318,nth_nearest (n=-1),True,9.377555,18
21,22,The building is 132 meters tall. How many cent...,"13,200 centimeters",fixed,True,3.782879,14
22,23,The building is 132 meters tall. How many cent...,"13,200 centimeters",nth_nearest (n=0),True,3.253173,6
23,24,The building is 132 meters tall. How many cent...,"13,200 centimeters",nth_nearest (n=-1),True,8.255083,16
24,25,The thermometer reads 23 degrees Celsius. What...,73.4 degrees Fahrenheit,fixed,True,4.413085,15
25,26,The thermometer reads 23 degrees Celsius. What...,73.4 degrees Fahrenheit,nth_nearest (n=0),True,3.510613,5
26,27,The thermometer reads 23 degrees Celsius. What...,73.4 degrees Fahrenheit,nth_nearest (n=-1),True,11.583447,15
27,28,There are 12 eggs in a dozen. If you use 5 egg...,There would be 7 eggs left.,fixed,True,3.819005,18
28,29,There are 12 eggs in a dozen. If you use 5 egg...,There would be 7 eggs left.,nth_nearest (n=0),True,3.717968,6
29,30,There are 12 eggs in a dozen. If you use 5 egg...,There would be 7 eggs left.,nth_nearest (n=-1),True,7.229728,10